
// flex 
.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-row-reverse{
    flex-direction: row-reverse;
}

.align-items-end{
    align-items: flex-end;
}

.align-items-top{
    align-items: flex-top;
}

.flex-grow-1{
    flex-grow: 1;
}

.circle{
    border: 2px solid #000;
    border-radius: 50%;
}

.w-100{
    width:100%;
}