<div class="trigger trigger--outter trigger--outter__active" 
[ngClass]="{'trigger--outter__break': isBreak}">

  <svg class="progress-ring" width="540" height="540">
    <circle class="progress-ring__circle"  
    stroke-width="18" 
    fill="transparent" 
    [attr.r]="radius" 
    [attr.cx]="cx" 
    [attr.cy]="cy"
    [ngStyle]="{
      'stroke-dashoffset': Dashoffset, 
      'stroke-dasharray':Dasharray,
      'stroke':stroke
    }" />
  </svg>

  <div class="trigger--inner circle bg-second border-primary" 
  [ngClass]="{'bg-white':isActive, 'border-break-primary bg-break-second':isBreak}">

    <div class="trigger--symbol circle text-white border-transparent" 
    [ngClass]="{'bg-break-second': isBreak, 'bg-second':isActive}">

      <i class="trigger--symbol__play material-icons" 
      *ngIf="!isActive" (click)="start()">
        play_circle_filled_white
      </i>

      <i class="trigger--symbol__puase material-icons" 
      *ngIf="isActive" (click)="pause()">pause</i>

      <i class="trigger--symbol__square bg-white" 
      [ngClass]="{'bg-break-second': isBreak ,'bg-second':isActive}"></i>
      
    </div>
  </div>
</div>
